<sp-button-normal [title]="'buttonNormal'" (onClick)="log('button-normal clicked')"></sp-button-normal>

<sp-button-primary [title]="'buttonPrimary'" (onClick)="log('button-primary clicked')"></sp-button-primary>

<sp-button-hero [title]="'buttonHero'" (onClick)="log('button-hero')" [iconClass]="'ms-Icon ms-Icon--Edit'"></sp-button-hero>

<sp-button-compound [title]="'buttonCompound'" [description]="'Description of this buttonCompound'" (onClick)="log('button-compound clicked')"></sp-button-compound>

<sp-button-small [title]="'buttonSmall'" (onClick)="log('button-small clicked')"></sp-button-small>