<button-normal [title]="'buttonNormal'" (onClick)="log('button-normal clicked')"></button-normal>

<button-primary [title]="'buttonPrimary'" (onClick)="log('button-primary clicked')"></button-primary>

<button-hero [title]="'buttonHero'" (onClick)="log('button-hero')" [iconClass]="'ms-Icon ms-Icon--Edit'"></button-hero>

<button-compound [title]="'buttonCompound'" [description]="'Description of this buttonCompound'" (onClick)="log('button-compound clicked')"></button-compound>

<button-small [title]="'buttonSmall'" (onClick)="log('button-small clicked')"></button-small>